    <div class="credits text-center">
        <p>
            <a href="https://pbs.twimg.com/media/D9jnMOpXkAAvZts.jpg">Linkedog.com</a>
        </p>
        <p>
            Desenvolvido por LinkeTeam
        </p>
    </div>
</body>
</html>